{% extends 'base.html.twig' %}

{% block title %}Show page!{% endblock %}


{% block stylesheets %}
    <link href="{{ asset('admin/css/sweetalert2.min.css') }}" rel="stylesheet">

{% endblock %}



{% block body %}

    <!-- Post Content Column -->
    <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ post.title }}</h1>

        <!-- Author -->
        <p class="lead">
            by
            <a href="{{ path('post_authors_home',{id:post.author.id})}}">{{ post.author.email }}</a>
        </p>
        <span><a class="{{ liked?'text-danger':'text-dark' }}" id="like-article" href="{{ path('post_liked',{slug:post.slug}) }}"><i class="fas fa-heart"></i></a></span>
        <span class="article-like-count"> {{ likes }} </span>
        &nbsp
        <span> <i class="fas fa-eye"></i> {{ views }} </span>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{ post.createdAt ? post.createdAt|date('d M Y H:m') }}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{ asset('/images/'~post.image) }}" alt="">

        <hr>

        <!-- Post Content -->
{#        <p class="lead">Lorem ipsum dol#}
{#            or sit amet, consectetur adipi#}
{#            sicing elit. Du magni recusandae labor#}
{#            um minus inventore?</p>#}

{#        <blockquote class="blockquote">#}
{#            <p class="mb-0">Lorem ipsum dolor sit amet,#}
{#                consectetur adipiscing elit.#}
{#                Integer posuere erat a ante.</p>#}
{#            <footer class="blockquote-footer">Someone famous in#}
{#                <cite title="Source Title">Source Title</cite>#}
{#            </footer>#}
{#        </blockquote>#}

        <p>{{ post.content }}</p>


        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                <form method="post" id="addCommentForm" action="{{ path('add_comment',{slug:post.slug}) }}">
                    <div class="form-group">
                        <textarea name="content" class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div id="commentArea">
            <!-- Single Comment -->
            {% for comment in post.comments %}
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">
                            {{ comment.author? comment.author.email:'Guest' }}
                        </h5>
                        {{ comment.content }}
                    </div>
                </div>
            {% endfor %}
        </div>




        <!-- Comment with nested comments -->
{#        alt alta comment  -------------------------------------------------------- #}

{#        <div class="media mb-4">#}
{#            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">#}
{#            <div class="media-body">#}
{#                <h5 class="mt-0">Commenter Name</h5>#}
{#                Cras sit amet nibh libero, in g#}
{#                ravida nulla. Nulla vel meta. Donec laci#}
{#                nia congue felis in faucibus.#}
{#                <div class="media mt-4">#}
{#                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">#}
{#                    <div class="media-body">#}
{#                        <h5 class="mt-0">Commenter Name</h5>#}
{#                        Cras sit amet nibh libe#}
{#                        ro, in gravida nulla. Nu#}
{#                        lla vel metus ibus.#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

    </div>

    {{ include('inc/side_bar.html.twig',{categorys:categorys,tags:tags ,'form_action':'/'}) }}




{% endblock %}

{% block javascripts %}
   {{ parent() }}

    <script src="{{ asset('admin/js/sweetalert2.min.js') }}"></script>

    <script>
        $(document).ready(function() {



            // like post
            $('#like-article').on('click', function(e) {
                e.preventDefault();

                var $link = $(e.currentTarget);

                $.ajax({
                    method: 'POST',
                    url: $link.attr('href')
                }).done(function(data) {
                    if(data['result']=='success'){
                        $('.article-like-count').text(data['likes'])
                        $link.toggleClass('text-dark').toggleClass('text-danger');
                    }else{
                        alert(data['result'])
                    }
                })
            });


            // add comment -------------------------------------------------
            $('#addCommentForm').on('submit' ,function(e){
                e.preventDefault()
                $form = $(this);
                $formSerialize = $form.serialize();
                $url = $form.attr('action');

                $.ajax({
                    url: $url,
                    type: "post",
                    data:  $formSerialize,
                    success: function (response) {
                        if(response['result']=='success'){

                            $('#addCommentForm textarea').val('');

                            $('#commentArea').append('<div class="media mb-4">\n' +
                                '   <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">\n' +
                                '   <div class="media-body">\n' +
                                '        <h5 class="mt-0">'+response["author"]+'</h5>'+ response["content"]+
                            '       </div>\n' +
                            '    </div>');


                            Swal.fire({
                                position: 'top-end',
                                type: 'success',
                                title: 'Your comment send',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }else{
                            Swal.fire({
                                type: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!',
                            })
                        }
                    }
                });
            })






















        });
    </script>
{% endblock %}

