
<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">


        <title>{% block title %}Welcome!{% endblock %}</title>

        <script src="https://kit.fontawesome.com/81616d8486.js"></script>
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('home/vendor/bootstrap/css/bootstrap-grid.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('home/css/blog-home.css') }}" rel="stylesheet">
        <link href="{{ asset('home/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    {{ include('inc/navbar.html.twig') }}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

                {% block body %}{% endblock %}

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->


        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="{{ asset('home/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('home/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    {% block javascripts %}{% endblock %}


    </body>
</html>
