<!-- Blog Post -->
<div class="card mb-4">
    <img class="card-img-top" style="height: 300px;" src="{{ asset('images/'~post.image) }}" alt="Card image cap">
    <div class="card-body">
        <h2 class="card-title">
            <a  style="color:black;text-decoration: none" class="text-uppercase" href="{{ path('post_show_home',{slug:post.slug}) }}">
            {{ post.title }}
            </a>
        </h2>
        <p class="card-text">
            {{ post.content|truncate(270,true) }}
        </p>
        <a href="{{ path('post_show_home',{slug:post.slug}) }}" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
        Tags:
        {% for tag in postTagKeys[post.id] %}
            <span class="badge badge-secondary">{{ tag }}</span>
        {% endfor %}
        <br>
        Category: {{ post.category.name }}
        <br>

        <span ><i class="fas fa-heart text-danger"></i>  {{ post.getLikedPostLikes|length }} </span>
        &nbsp
        <span> <i class="fas fa-eye"></i> {{ post.postViews|length }} </span>
        <br>
        Posted on {{ post.createdAt ? post.createdAt|date('d M Y') }} by
        <a href="{{ path('post_authors_home',{id:post.author.id}) }}">{{ post.author.email }}</a>
    </div>
</div>
