
<!-- Sidebar Widgets Column -->
<div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <form method="GET">
                <div class="input-group">
                    <input type="text" name="q" value="{{ app.request.query.get('q') }}" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                         <button class="btn btn-secondary" type="submit" >Go!</button>
                    </span>
                </div>
            </form>

        </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    {% for category in categorys %}
                            <a class="mx-1 text-dark text-capitalize" style="text-decoration: none;" href="{{ path('post_categorys_home',{slug:category.slug}) }}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
        <h5 class="card-header">Popular Tags</h5>
        <div class="card-body">
            <div>
                {% for tag in tags %}
                    <a  class="mx-1 text-dark text-capitalize" style="text-decoration: none;"  href="{{ path('post_tags_home',{slug:tag.slug}) }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Side Widget -->
    <div class="card my-4">
        <h5 class="card-header">Side Widget</h5>
        <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
        </div>
    </div>

</div>

